<div class="nav__dot"></div>

<nav class="nav bevel-up">
    
    <div class="nav__bg"></div>
    <div class="nav__group nav__group--tl">
        <ul>
            {% for text, url in {
                "People": "/people",
                "Making": "/making",
                "Buildings": "/buildings",
            } %}
                <li><a href="{{ url }}"><dms-engraved>{{ text }}</dms-engraved></a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="nav__group nav__group--tr">
        <ul>
            <li><a href="/"><dms-engraved>Daykin Marshall Studio</dms-engraved></a></li>
        </ul>
    </div>
    
    <div class="nav__group nav__group--bl">
        <ul>
            {% for link in nav.links.all %}
                <li><a href="{{ link.linkUrl }}" {% if link.newTab %} target="_blank"{% endif %}><dms-engraved>{{ link.linkTitle }}</dms-engraved></a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="nav__group nav__group--br">
        <ul>
            <li><a href="tel:{{ contact.phoneNumber }}">
                <span class="s-show m-hide"><dms-engraved>Phone</dms-engraved></span>
                <span class="s-hide m-show"><dms-engraved>{{ contact.phoneNumber }}</dms-engraved></span>
            </a></li>
            <li><a href="mailto:{{ contact.email }}">
                <span class="s-show m-hide"><dms-engraved>Email</dms-engraved></span>
                <span class="s-hide m-show"><dms-engraved>{{ contact.email }}</dms-engraved></span>
            </a></li>
        </ul>
    </div>

    
    
    
 
    
    
    
    
    
</nav>