
</div>

{% for item in items %}

        {% if item.type == 'singleCollaborator' %}
            <div class="grid grid--fill collaborators collaborators--single {% if item.imagePosition == '' %} collaborators--reverse{% endif %}">
    
                <div class="s-col-12 l-col-6 bevel-up">
                    <div class="s-pad-1 s-pad-bottom-3">
                        <p class="nomargin">{{ item.collaboratorName }}</p>
                        <p class="nomargin">{{ item.projectRole }}</p>
                        
                        <div class="s-pad-top-1">
                            {{ item.quote }}
                        </div>
                        
                        {% if item.readMoreLink|length %}
                        <a href="{{ item.readMoreLink.one.url }}">&rarr;</a>
                        {% endif %}
                        
                    </div>
                </div>
                <div class="s-col-12 l-col-6 bevel-up">
                    {% set image = item.image.one %}
                    {% include 'components/image/image' with { asset : image, ratio: false } %}
                    <div class="fill bevel-up no-pointer"></div>
                </div>
                
            </div>

        {% elseif item.type == 'images' %}
        
            <div class="grid grid--fill collaborators collaborators--single">
    
                <div class="s-col-12 l-col-6 bevel-up">
                    {% include 'components/image/image' with { asset : item.leftImage.one, ratio: false } %}
                    <div class="fill bevel-up no-pointer"></div>
                </div>
                <div class="s-col-12 l-col-6 bevel-up">
                    {% include 'components/image/image' with { asset : item.rightImage.one, ratio: false } %}
                    <div class="fill bevel-up no-pointer"></div>
                </div>
                
            </div>

        {% else %}
            <div class="grid grid--fill collaborators collaborators--double">
    
                <div class="s-col-12 l-col-3 bevel-up">
                    <div class="s-pad-1 s-pad-bottom-3">
                        <p class="nomargin">{{ item.leftCollaboratorName }}</p>
                        <p class="nomargin">{{ item.leftProjectRole }}</p>
                        
                        <div class="s-pad-top-1">
                            {{ item.leftQuote }}
                        </div>
                        
                        {% if item.leftReadMoreLink|length %}
                        <a href="{{ item.leftReadMoreLink.one.url }}">&rarr;</a>
                        {% endif %}
                    </div>
                </div>
                
                <div class="s-col-12 l-col-3 bevel-up">
                    {% include 'components/image/image' with { asset : item.leftImage.one, ratio: false } %}
                    <div class="fill bevel-up no-pointer"></div>
                </div>

                
                <div class="s-col-12 l-col-3 bevel-up">
                    <div class="s-pad-1 s-pad-bottom-3">
                        <p class="nomargin">{{ item.rightCollaboratorName }}</p>
                        <p class="nomargin">{{ item.rightProjectRole }}</p>
                        
                        <div class="s-pad-top-1">
                            {{ item.rightQuote }}
                        </div>
                        
                        {% if item.rightReadMoreLink|length %}
                        <a href="{{ item.rightReadMoreLink.one.url }}">&rarr;</a>
                        {% endif %}
                        
                    </div>
                </div>

                <div class="s-col-12 l-col-3 bevel-up">
                    {% include 'components/image/image' with { asset : item.rightImage.one, ratio: false } %}
                    <div class="fill bevel-up no-pointer"></div>
                </div>
                    
                    


            </div>
        {% endif %}
{% endfor %}

