{% import 'macros/macros' as m %}

{% if asset %}
    
    {% set ratio = ratio ?? true %}
    {% set alwaysGlow = alwaysGlow ?? false %}
    {% set transitionId = transitionId ?? false %}
    {% if ratio == true %}{% set ratio = asset.height / asset.width %}{% endif %}
    {% set attrs = attrs ?? {} %}
    {% set title = title ?? '' %}
    {% set archived = archived ?? false %}

    <div
        class="bevel-down {{ m.bem( 'glow-image', { glowing: alwaysGlow } ) }}"
        {% if ratio != false %}
            style="padding-bottom: {{ ratio * 100 }}%"
        {% endif %}
    >
        {% set width = 100 %}
        {% set blur = 10 %}
        {% set tinyImg = craft.imager.transformImage( asset, { width: width } ) %}
        {% set extendedImg = craft.imager.transformImage( '/static/nothing.png', {
            width: tinyImg.getWidth + blur * 2,
            height: tinyImg.getHeight + blur * 2,
            watermark: {
                image: tinyImg,
                width: tinyImg.getWidth,
                height: tinyImg.getHeight,
                position: { top: blur, left: blur },
                opacity: 1,
                blendMode: 'blend'
            }
        }) %}
        {% set blurredImg = craft.imager.transformImage( extendedImg, {
            effects: {
                blur: blur / 2,
                modulate: [ 100, 250, 100 ]
            }
        }) %}
        {% set srcset = craft.imager.transformImage( blurredImg, [
            { width: 400 },
            { width: 800 },
            { width: 1000 },
            { width: 1600 },
        ], { allowUpscale: false } ) %}
        <img
            is="lazy-img"
            class="glow-image__glow{% if archived %} greyscale{% endif %}"
            data-srcset="{{ craft.imager.srcset( srcset ) }}"
        >
        <img
            is="lazy-img"
            class="glow-image__image cover{% if archived %} greyscale{% endif %}"
            data-srcset="{{ m.srcset( asset ) }}"
            src="{{ asset.getUrl({ width: 2 }) }}"
            {% if transitionId %}
                data-transition-id="{{ transitionId }}"
            {% endif %}
        >
        
        
        {% if title %}
            <div class="glow-image__title{% if titleOn %} glow-image__title--on{% endif %}">
                {{ title }}
            </div>
        {% endif %}
    </div>
    
{% endif %}