{% import 'macros/macros' as m %}

{% if asset %}
    
    {% set ratio = ratio ?? true %}
    {% set alwaysGlow = alwaysGlow ?? false %}
    {% set transitionId = transitionId ?? false %}
    {% if ratio == true %}{% set ratio = asset.height / asset.width %}{% endif %}
    {% set attrs = attrs ?? {} %}
    
    <div
        class="{{ m.bem( 'glow-image', { glowing: alwaysGlow } ) }}"
        {% if ratio != false %}
            style="padding-bottom: {{ ratio * 100 }}%"
        {% endif %}
    >
        {% set width = 100 %}
        {% set blur = 10 %}
        {% set tinyImg = craft.imager.transformImage( asset, { width: width } ) %}
        {% set extendedImg = craft.imager.transformImage( '/static/nothing.png', {
            width: tinyImg.getWidth + blur * 2,
            height: tinyImg.getHeight + blur * 2,
            watermark: {
                image: tinyImg,
                width: tinyImg.getWidth,
                height: tinyImg.getHeight,
                position: { top: blur, left: blur },
                opacity: 1,
                blendMode: 'blend'
            }
        }) %}
        {% set blurredImg = craft.imager.transformImage( extendedImg, {
            effects: {
                blur: blur / 2,
                modulate: [ 100, 250, 100 ]
            }
        }) %}
        <img class="glow-image__glow" src="{{ blurredImg }}">
        <img
            is="lazy-img"
            class="glow-image__image cover"
            data-srcset="{{ m.srcset( asset ) }}"
            src="{{ asset.getUrl({ width: 2 }) }}"
            {% if transitionId %}
                data-transition-id="{{ transitionId }}"
            {% endif %}
        >
    </div>
    
{% endif %}