<div class="footer grid s-pad-top-1 s-pad-bottom-1 mono nomargin bevel-up text-s">
    <div class="s-col-12 m-col-6">
        <p class="s-pad-bottom-2">
            <a href="/">Daykin Marshall Studio</a><br>
        </p>
        <p class="">
            {% for text, url in {
                "People": "/people",
                "Making": "/making",
                "Buildings": "/buildings",
            } %}
                <a href="{{ url }}">{{ text }}</a><br>
            {% endfor %}
        </p>
        
    </div>
    <div class="s-col-12 m-col-6 footer__right">

        <p class="s-pad-bottom-1">
            {% for link in footerNav.links.all %}
                <a href="{{ link.linkUrl }}"{% if link.newTab %} target="_blank"{% endif %}>{{ link.linkTitle }}</a><br>
            {% endfor %}
        </p>
        
        <p class="">
            <a href="tel:{{ contact.phoneNumber }}">{{ contact.phoneNumber }}</a><br>
            <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
        </p>
    </div>

</div>

   
