{% extends "layout" %}
{% block content %}

{% include 'components/archive-nav/archive-nav' %}



{% set categoryQuery = craft.app.request.getQueryParam('category') ?? false %}
{% if categoryQuery %}


    {% if categoryQuery == 'buildings' %}
    
        {% set entries = craft.entries
        .section('buildings')
        .all() %}
        
    {% else %}
    

        {% set entries = craft.entries
        .section('posts')
        .relatedTo(craft.categories.slug(categoryQuery).first())
        .all() %}
        
    {% endif %}


{% else %}

    {% set entries = craft.entries
        .section(['posts', 'buildings'])
        .all() %}
        
{% endif %}



<div class="grid s-gap-top-4 m-gap-top-8">
    
{% for post in entries %}

    
            {% if post.section.handle == 'buildings' %}
                <div class="s-col-12 m-col-6 s-gap-top-1 s-gap-bottom-2 mono text-s">
        
                    {% set img = post.thumbnail.one() %}
                    
                    <div class="s-gap-bottom-half">
                        <a href="">Building</a><br>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </div>
                     
                    {% if img|length %}
                    
                        <dms-hover url="{{ post.url }}">
                            <a class="buildings" href="{{ post.url }}">
                                {% include 'components/glow-image/glow-image' with {
                                    asset: img,
                                    title: false
                                } only %}
                            </a>
                        </dms-hover>
                    
                    {% endif %}
                    
                    <div class="s-pad-top-half">
                        <a href="{{ post.url }}">&rarr;</a><br>
                    </div>

                </div>
            {% else %}
            
                <div class="s-col-12  m-col-3 s-gap-top-1 s-gap-bottom-2 mono text-s">
                    {% include 'components/archive-post/archive-post' with {
                        entry: post,
                        cat: post.category.one(),
                        img: post.images.one(),
                        limit: 120
                    } %}
                        
            
                   
                   
                   
                   
                </div>
    
            {% endif %}

    
{% endfor %}

</div>

    
{% include 'components/footer/footer' %}



{% endblock %}